<h2 mat-dialog-title>Edit Topic</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" class="traditional-input" formControlName="title" required>
    </div>
    <mat-table [dataSource]="subTopics" class="subtopics-table">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let subTopic; let i = index">
          @if (isEditingSubTopic === i) {
            <input class="traditional-input" [formControl]="subTopicEditControl">
          } @else {
            {{ subTopic.title }}
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let subTopic; let i = index">
          @if (isEditingSubTopic === i) {
            <button mat-icon-button (click)="saveSubTopic(i)"><mat-icon>save</mat-icon></button>
          } @else {
            <button mat-icon-button (click)="editSubTopic(subTopic, i)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteSubTopic(i)"><mat-icon>delete</mat-icon></button>
          }
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <button mat-raised-button color="primary" (click)="addSubTopic()">Add SubTopic</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="topicForm.invalid">Save</button>
</mat-dialog-actions>