<div class="main-container">
    <as-split direction="horizontal" (dragEnd)="onDragEnd($event)">
      <as-split-area [size]="50">
        <course-list
            (activeNodeChange)="onActiveNodeChange($event)"
            (addNodeRequested)="onAddNodeRequested($event)"
            [triggerRefresh]="refreshTrigger"
        ></course-list>
      </as-split-area>
      <as-split-area [size]="50">
        <info-panel
          #infoPanel
          [activeNode]="currentActiveNode"
          (refreshTree)="onRefreshTree()"
        ></info-panel>
      </as-split-area>
    </as-split>
    <footer class="footer">
      <a href="#">Contact Info</a>
    </footer>
  </div>