<!-- src/app/lessontree/course-list/tree/tree-wrapper.component.html -->
<!-- COMPLETE FILE -->
<div id="treeparent">
    <ejs-treeview
    #treeview
    id="treeview-{{courseId}}"
    [cssClass]="cssClass"
    [fields]="treeFields"
    [enablePersistence]="false"
    [allowDragAndDrop]="true"
    [fullRowSelect]="true"
    [loadOnDemand]="false"
    [expandOn]="'click'"
    [autoCheck]="false"
    [allowMultiSelection]="false"
    [nodeTemplate]="nodeTemplate"
    (nodeDragStart)="onNodeDragStart($event)"
    (nodeDragging)="nodeDragging($event)"
    (nodeDragStop)="onNodeDragStop($event)"
    (nodeSelected)="emitNodeSelected($event)"
    (nodeExpanded)="onNodeExpanded($event)"
    (dataBound)="onDataBound()"
    ></ejs-treeview>
  </div>

<ng-template #nodeTemplate let-data>
    <div class="simple-node" [ngClass]="data.entityType.toLowerCase()" 
         (contextmenu)="onNodeContextMenu($event, data)">
      <!-- Focus button only for courses -->
      @if (data.entityType === 'Course') {
        @if (layoutModeService.isCourseFocusMode() && layoutModeService.focusedCourseId() === data.original?.id) {
          <button 
            mat-icon-button 
            class="focus-toggle-btn exit-focus"
            (click)="exitCourseFocus($event)" 
            matTooltip="Exit Course Focus Mode">
            <mat-icon>unfold_less</mat-icon>
          </button>
        } @else {
          <button 
            mat-icon-button 
            class="focus-toggle-btn enter-focus"
            (click)="enterCourseFocus(data.original?.id, $event)" 
            matTooltip="Focus on Course">
            <mat-icon>center_focus_strong</mat-icon>
          </button>
        }
      }
      
      <!-- VS Code-style colored text with type prefix -->
      <span class="type-prefix">{{ getTypePrefix(data.entityType) }}</span>
      <span class="node-text">{{ data.text }}</span>
    </div>
  </ng-template>
