// src/app/course/tree/tree.component.scss
.material-icons {
    font-family: 'Material Icons'; // Ensure Material Icons font is loaded
    font-size: 16px; // Adjust as needed
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .topic-icon::before {
    content: 'school';
  }
  
  .subtopic-icon::before {
    content: 'book';
  }
  
  .lesson-icon::before {
    content: 'assignment';
  }