.material-icons {
    font-family: 'Material Icons';
    font-size: 24px; /* Increased from 16px */
    vertical-align: middle;
    margin-right: 8px; /* Adjusted for larger size */
  }
  
  .topic-icon::before {
    content: 'school';
  }
  
  .subtopic-icon::before {
    content: 'book';
  }
  
  .lesson-icon::before {
    content: 'assignment';
  }
  .selected-node {
    color: blue; /* Changes text color to blue */
  }