<!-- src/app/lessontree/info-panel/info-panel.component.html -->
<div class="info-panel-wrapper">
    @if ((activeNode || mode === 'add')) {
      @if ((activeNode?.nodeType === 'Course' && mode !== 'add') || (mode === 'add' && addPanelType === 'Course')) {
        @if (course) {
            <course-panel
                [data]="course"
            ></course-panel>
        }
      }
      @if ((activeNode?.nodeType === 'Topic' && mode !== 'add') || (mode === 'add' && addPanelType === 'Topic')) {
        @if (topic) {
            <topic-panel 
                [data]="topic" 
            ></topic-panel>
        }
      }
      @if ((activeNode?.nodeType === 'SubTopic' && mode !== 'add') || (mode === 'add' && addPanelType === 'SubTopic')) {
        @if (subtopic) {
            <subtopic-panel
            [data]="subtopic"
          ></subtopic-panel>
        }
      }
      @if ((activeNode?.nodeType === 'Lesson' && mode !== 'add') || (mode === 'add' && addPanelType === 'Lesson')) {
        @if (lessonDetail) {
            <lesson-info-panel
            [lessonDetail]="lessonDetail"
          ></lesson-info-panel>
        }
      }
    } @else {
      <p>Select a node to view or add a new item.</p>
    }
  </div>