<div class="info-panel-wrapper">
    @if (activeNode || selectedCourse || mode === 'add') {
      @if ((selectedCourse && mode !== 'add') || (mode === 'add' && addNodeType === 'Course')) {
        @if (course) {
          <course-panel
            [data]="course"
            [mode]="mode"
            (modeChange)="handleModeChange($event)"
            (courseAdded)="onCourseAdded($event)"
            (addNode)="initiateAddMode(undefined, 'Topic', $event.courseId)"
          ></course-panel>
        }
      }
      @if ((activeNode?.nodeType === 'Topic' && mode !== 'add') || (mode === 'add' && addNodeType === 'Topic')) {
        @if (topic) {
            <topic-panel 
                [data]="topic" 
                [mode]="mode" 
                (modeChange)="handleModeChange($event)" 
                (nodeAdded)="onTopicAdded($event)">
            </topic-panel>
        }
      }
      @if ((activeNode?.nodeType === 'SubTopic' && mode !== 'add') || (mode === 'add' && addNodeType === 'SubTopic')) {
        @if (subtopic) {
          <subtopic-panel
            [data]="subtopic"
            [mode]="mode"
            (modeChange)="handleModeChange($event)"
            (subTopicAdded)="onSubTopicAdded($event)"
          ></subtopic-panel>
        }
      }
      @if ((activeNode?.nodeType === 'Lesson' && mode !== 'add') || (mode === 'add' && addNodeType === 'Lesson')) {
        @if (lessonDetail) {
          <lesson-info-panel
            [lessonDetail]="lessonDetail"
            [mode]="mode"
            (modeChange)="handleModeChange($event)"
            (lessonAdded)="onLessonAdded($event)"
          ></lesson-info-panel>
        }
      }
    } @else {
      <p>Select a node or course to view or add a new item.</p>
    }
  </div>