<div class="course-panel-wrapper">
    <h2 class="panel-title">Course</h2>
    @if (data) {
      <div class="course-card">
        <form>
          @if (data.archived || (isEditing && mode !== 'add')) {
            <div class="status-controls">
              <div class="form-group form-group-inline checkbox-label">
                <label for="archived">Archived:</label>
                <input
                  type="checkbox"
                  id="archived"
                  [readonly]="!isEditing"
                  [disabled]="!isEditing"
                  [(ngModel)]="data.archived"
                  name="archived"
                />
              </div>
              @if (hasDistrictId) {
                <div class="form-group form-group-inline">
                  <label>Visibility:</label>
                  <div class="radio-group">
                    <label>
                      <input
                        type="radio"
                        [readonly]="!isEditing"
                        [(ngModel)]="data.visibility"
                        name="visibility"
                        value="public"
                        [disabled]="!isEditing"
                      /> Public
                    </label>
                    <label>
                      <input
                        type="radio"
                        [readonly]="!isEditing"
                        [(ngModel)]="data.visibility"
                        name="visibility"
                        value="private"
                        [disabled]="!isEditing"
                      /> Private
                    </label>
                    <label>
                      <input
                        type="radio"
                        [readonly]="!isEditing"
                        [(ngModel)]="data.visibility"
                        name="visibility"
                        value="team"
                        [disabled]="!isEditing"
                      /> Team
                    </label>
                  </div>
                </div>
              }
            </div>
          }
          <div class="form-group">
            <label for="title">Title:</label>
            <input
              id="title"
              [readonly]="!isEditing"
              [(ngModel)]="data.title"
              name="title"
              [ngClass]="{'editing': isEditing}"
            />
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea
              id="description"
              [readonly]="!isEditing"
              [(ngModel)]="data.description"
              name="description"
              [ngClass]="{'editing': isEditing}"
            ></textarea>
          </div>
          @if (!isEditing) {
            <div class="buttons">
              <button (click)="enterEditMode()">Edit</button>
            </div>
          }
          @if (isEditing) {
            <div class="buttons">
              <button (click)="save()">Save</button>
              <button (click)="cancel()">Cancel</button>
            </div>
          }
        </form>
      </div>
    }
</div>